

.inner_area{
    height: 30rem;
}
.scrollme{
    overflow-x: auto;
}
/* .LinkD{

} */

@media only screen and (min-width:990px) {

    .footer{
        display: none;
    }

}
@media only screen and (max-width:991px){

    .footer{
        display: block;
    }
    .LinkD{
        pointer-events: none;
    }
    .header {
        display: none;
    }


}

@media only screen and (max-width:450px){

    .inner_area{
        margin-top: 3rem;
        height: 22rem;
    }

}